
<%= simple_form_for @filiere do |f|%>
  <h3>Généralités</h3>
  <%= f.input :num_agrement %><br/>
  <%= f.input :denomination_commerciale %><br/>
  <%= f.input :titulaire %><br/>
  <%= f.input :adresse %><br/>
  <%= f.input :site_web %><br/>
  <%= f.input :email %><br/>
  <%= f.input :organisme_test, :collection => ["CSTB","CERIB"] %><br/>
  <%= f.input :num_avis_jo %><br/>
  <%= f.input :date_JO, :as => :date %><br/>
  <%= f.input :texte_NOR_jo %><br/>
  <%= f.input :lien_legifrance %><br/>

  <h3>photos</h3>
  <div>
  <%= f.simple_fields_for :photos do |builder| %>
    <%= render "photos/form", :f => builder %>
  <% end %>
  <div class="center clearfix">
  <%= link_to_add_fields('Ajouter une photo', f, :photos) %></div>
  </div>

  <h3>descriptions</h3>
  <%= f.input :type_filiere, :collection =>["culture fixée","culture libre","massif filtrant","phytoépuration","cult.libre + filtration"] %><br/>
  <%= f.input :description_sommaire %><br/>
  <%= f.input :description %><br/>

  <h3>conditions agrément</h3>
  <%= f.input :eq_hab, :collection => 1..20, :as => :check_boxes %><br/>
  <div class="center"><%= f.input :intermittence %>
  <%= f.input :avec_nappe %>
  <%= f.input :test_bacterio %>
  <%= f.input :elec %>
  <%= f.input :sortie_basse %>
  </div>
  <%= f.input :ref_guide_util%><br/>
  <%= f.input :pourcent_vidange, :collection=> [30,50] %><br/>
  <%= f.input :ouvrage_vidange %><br/>
  <%= f.input :periode_vidange %><br/>

  <h3>performances</h3>
  <%= f.input :mes %> mg/L / <%= f.input :PCmes, :label => false %> %<br/>
  <%= f.input :dbo5 %> mg/L / <%= f.input :PCdbo, :label => false %> %
  <div><%= f.input :dco %> mg/L / <%= f.input :PCdoc, :label => false %> %</div>
  <div><%= f.input :logbacter, :label => "abatt. bacterio" %> LOG </div>
<br/>

  <h3>autres</h3>
  <%= f.input :demarrage %> en semaines<br/>
  <%= f.input :bruit, :label=>"niveau sonore" %> en dB<br/>

  <h3>electricité</h3>
   <%= f.input :puiss_totale, :label => "puissance elect totale" %><br/>
   <%= f.input :conso_elect, :label => "conso elect annuelle" %><br/>
   <%= f.input :elect_obs, :label => "obs sur elect."  %><br/>


  <h3>éléments</h3>
  <%= f.simple_fields_for :techniques do |builder| %>
    <%= render "techniques/form", :f => builder %>
  <% end %>
  <div class="center clearfix">
  <%= link_to_add_fields('Ajouter un élèment', f, :techniques) %>
  </div>


  <h3>conditions de pose</h3>
  <%= f.input :guide_pose %><br/>
  <%= f.input :lien_guide_pose %><br/>
  <%= f.simple_fields_for :poses do |builder| %>
        <%= render "poses/form", :f => builder %>
  <% end %>

  <h3>Entretien</h3>
  <div>
  <%= f.simple_fields_for :entretiens do |builder| %>
    <%= render "entretiens/form", :f => builder %>
  <% end %>
  <div class="center clearfix">
  <%= link_to_add_fields('Ajouter un entretien', f, :entretiens) %></div>
  </div>

  <h3>Coûts/tarifs</h3>
    <%= f.input :cout_annuel %><br/>
    cout 15 ans : entre <%= f.input :cout_15ans_min, :label => false %> et <%= f.input :cout_15ans_max, :label => false  %>
  <%= f.simple_fields_for :couts do |builder| %>
    <%= render "couts/form", :f => builder %>
  <% end %>
  <div class="center clearfix">
  <%= link_to_add_fields('Ajouter une dépense', f, :couts) %></div>
  </div>

<hr/>
<div class="center">
  <%= f.input :saisie, :label =>"Saisie en cours" %><br/>
<%= f.submit %>
</div>
<%end%>
