<% @filieres.each do |filiere|%>
<div id="bellebox">
  <div class="resume clearfix">
    <h2 class="outthin titre">
      <%= link_to (filiere.num_agrement)+" / "+( filiere.denomination_commerciale),filiere %>
    </h2>

      <div class="outthin">
        <% if filiere.eq_hab %>
          <% filiere.eq_hab.each do |eq|%>
            <% if eq.empty? %>
            <% else %>
            <span class="chiffre"> <%= eq %> </span>
            <%end%>
          <%end %>
        <%end%>
        eq.hab
      </div>


  <div class="span-6">
    <%= link_to(filiere.titulaire, filiere.site_web, :target => "_blank", :class=>"external") %><br/>
   <address><%= simple_format(filiere.adresse) %></address>
    <div>
    <%= mail_to filiere.email,nil, :class=>"mail"%>
    </div>
  </div>

  <div class="span-6">
    <strong><%= filiere.type_filiere %></strong><br/>
    <div class="small"><%= filiere.description_sommaire %></div>
  </div>

  <div class="span-5">
      <div class="ptt">
      <%= img_boolean(filiere.intermittence,'intermittence') %> intermittence <br/>
      <%= img_boolean(filiere.avec_nappe,'pose en nappe') %> pose en nappe<br/>
      <%= img_boolean(filiere.test_bacterio,'test bacterio') %> Bactério testée<br/>
      <% if filiere.elec == true %>
        <%=image_tag("lightning.png") %> Conso. Electricité <%end%><br/>
      <% if filiere.sortie_basse == true %>
        <%=image_tag("arrow-270.png") %> sortie basse <%end%><br/>
      <% filiere.poses.each do |pose|%>
        <% if pose.sous_voirie == true %>
        <%=image_tag("car.png") %> sous charge <%end%><br/>
      <%end %>
      Vidange : <%= filiere.ouvrage_vidange %> à <%= filiere.pourcent_vidange %> % <br/>
      Agréée le <%= l(filiere.date_JO) %> (JORF n°<%= filiere.num_avis_jo %>) par <%= filiere.organisme_test %>
      </div>
  </div>

  <div class="span-6 last">
      <div class="center">
      <% if filiere.photos.present? %>
      <%= image_tag (Photo.find(:first, :conditions => [ "filiere_id = ?", filiere.id]).photo_name, :size => "100x100", :alt => "photo") %>
      <% else %>
      <%= image_tag ("noimage.png", :size => "100x100", :alt => "pas de photo") %>
      <%end%>

      <div class="tptt quiet">
        MàJ, il y a <%= distance_of_time_in_words(Time.now, filiere.updated_at) %>
      <% if can? :destroy, Filiere %>
        <% if filiere.updater_id %>
      par <%= User.find_by_id(filiere.updater_id).username %>
        <%end%>
      <%end%><br/>
      <% if filiere.saisie %>
        <div class="error">
          FICHE NON COMPLETE - SAISIE EN COURS
        </div>
      <%end%>
      <% if filiere.verif %>
        <div class="notice">
          MODIF - FICHE A VERIFIER
        </div>
      <%end%>
      </div>
      </div>
  </div>
  </div>
</div>
<%end %>
