<% title "Filieres" %>

<div class="container noprint">
<%= link_to "retour à la liste", filieres_path, :class => "button" %></div>

<div class="container noprint">
<fieldset>
  <legend>Comparaison technique</legend>
<%= form_tag(:comparo, :method => "get") do %>
  <%= label_tag(:id1, "Choisir : ") %>
  <%= text_field_tag (:id1) %>
  <%= text_field_tag (:id2) %>
  <%= submit_tag("comparer") %>
<% end %>
</fieldset>


<div class="span-12 border">
    <%= render 'list', :fil => @filier1 %>
</div>

<div class="span-12 last">
    <%= render 'list', :fil => @filier2 %>
</div>
</div>
