<% title "Filieres" %>


<div class="container noprint">
<fieldset>
  <legend>Recherche</legend>
<%= form_for @search do |f|%>
  N° agr.ou marque<%= f.search_field :num_agrement_or_titulaire_or_denomination_commerciale_contains, :size => "10" %>
  Eq.hab <%= f.number_field :eq_hab_max_gte, :size => "3" %>
  interm : <%= f.check_box :intermittence_is_true %>

  <%= f.submit "chercher"%>
<%end%>
</fieldset>
</div>

<div class="container noprint">
  <div class="span-6">
    <span class="ptt bottom"><%= sort_link @search, :num_agrement %> nom - adresse</span>
  </div>
  <div class="span-6">
  <span class="ptt bottom">eq.hab - description</span>
  </div>
  <div class="span-6">
    <span class="ptt bottom">intermittence-nappe-bacterio-elect.-sortie basse</span>
  </div>
  <div class="span-6 last">
  </div>
</div>

<% @filieres.each do |filiere|%>
  <div class="container box outline">

  <div class="span-24">
    <h3>
      <%= link_to filiere.num_agrement,filiere %> / <%=filiere.denomination_commerciale  %>
    </h3>
  </div>

  <div class="span-6 border">
    <%= filiere.titulaire %><br/>
   <address><%= simple_format(filiere.adresse) %></address><br/>
    <%= auto_link(filiere.site_web, :target => "_blank") %>
    <%= mail_to(filiere.email) %>
  </div>
  <div class="span-6 border">
    <div class="info ">de : <span class="grd loud"><%= filiere.eq_hab_mini %></span> à <span class="grd loud"><%= filiere.eq_hab_max %></span> eq.hab</div>
    <%= filiere.type_filiere %><br/>
    <%= filiere.description_sommaire %>

  </div>
  <div class="span-6 border">
      <div class="center">
      <%= img_boolean(filiere.intermittence,'intermittence') %>
      <%= img_boolean(filiere.avec_nappe,'nappe') %>
      <%= img_boolean(filiere.test_bacterio,'bacterio') %>
      <% if filiere.test_bacterio == true %>
        <%=image_tag("lightning.png") %>
      <%end%>
      <% if filiere.test_bacterio == true %>
        <%=image_tag("arrow-315.png") %>
      <%end%> </div>
      <%= filiere.ref_guide_util %><br/>
  </div>
  <div class="span-6 last">
      <%= image_tag(filiere.photo, :size => "100x100", :alt => "photo", :class =>"class") %>
  </div>
  </div>
<%end %>
