<% title "Filieres" %>


<div class="container noprint">
<fieldset>
  <legend>Recherche rapide</legend>
<%= form_for @search do |f|%>
  N° agr.ou marque<%= f.search_field :num_agrement_or_titulaire_or_denomination_commerciale_contains, :size => "10" %>
  Eq.hab min <%= f.number_field :eq_hab_max_gte, :size => "3" %>
  Eq.hab max <%= f.number_field :eq_hab_max_lte, :size => "3" %>
  Interm : <%= f.check_box :intermittence_is_true %>
  Nappe : <%= f.check_box :avec_nappe_is_true %>
  Bacterio : <%= f.check_box :test_bacterio_is_true %>
  <%= f.submit "chercher"%> / <span class="ptt"> <%= link_to 'RAZ', root_path %></span>
<%end%>
</fieldset>
</div>

<div class="container noprint">
<div class="span-24 ptt bottom">
  trier par :<br/>
    <%= sort_link @search, :num_agrement, "Num.Agrément" %>
    <%= sort_link @search, :denomination_commerciale, "Nom" %>
    <%= sort_link @search, :titulaire, "Constructeur" %>
    <%= sort_link @search, :eq_hab_max, "eq.hab max" %>
    <%= sort_link @search, :type_filiere, "technologie" %>
    <%= sort_link @search, :intermittence, "Intermittence" %>
    <%= sort_link @search, :avec_nappe, "Nappe" %>
    <%= sort_link @search, :test_bacterio, "Bacterio" %>
  </div>
</div>

<% @filieres.each do |filiere|%>
  <div class="container box outline">

  <div class="span-24">
    <h3>
      <%= link_to filiere.num_agrement,filiere %> / <%=filiere.denomination_commerciale  %>
    </h3>
  </div>

  <div class="span-6 border">
    <%= filiere.titulaire %><br/>
   <address><%= simple_format(filiere.adresse) %></address>
    <%= sanitize(auto_link(filiere.site_web, :target => "_blank")) %>
    <%= mail_to(filiere.email) %>
  </div>
  <div class="span-6 border">
    <div class="info ">de : <span class="grd loud"><%= filiere.eq_hab_mini %></span> à <span class="grd loud"><%= filiere.eq_hab_max %></span> eq.hab</div>
    <%= filiere.type_filiere %><br/>
    <div class="small"><%= truncate(filiere.description_sommaire, :length => 100) %></div>

  </div>
  <div class="span-6 border">
      <div class="ptt">
      <%= img_boolean(filiere.intermittence,'intermittence') %> intermittence <br/>
      <%= img_boolean(filiere.avec_nappe,'pose en nappe') %> nappe autorisée<br/>
      <%= img_boolean(filiere.test_bacterio,'test bacterio') %> Bactério testée<br/>
      <% if filiere.elec == true %>
        <%=image_tag("lightning.png") %>
      <%end%> Electricité<br/>
      <% if filiere.sortie_basse == true %>
        <%=image_tag("arrow-315.png") %>
      <%end%> Sortie<br/>
      vidange : <%= filiere.ouvrage_vidange %> à <%= filiere.pourcent_vidange %> % <br/>
      <%= filiere.ref_guide_util %></div>
  </div>

  <div class="span-6 last">
      <%= image_tag(filiere.photo, :size => "100x100", :alt => "photo", :class =>"class") %>
      <div class="tptt quiet">
        MàJ <%= l(filiere.updated_at) %>
      </div>
  </div>
  </div>
<%end %>
