<% title @filiere.denomination_commerciale %>
<div class="container">
  <div class="clearfix">
  <%= link_to "retour à la liste", filieres_path, :class => "button" %>
    <% if can? :update, Filiere %><%= link_to "Modifier", edit_filiere_path(@filiere), :class=>"button" %> <%end%>
    <% if can? :destroy, Filiere %><%= link_to "Detruire", @filiere, :confirm => 'Are you sure?', :method => :delete, :class => "button negative" %> <%end%>
  </div>

<!-- titre -->
<h1>  <%= @filiere.num_agrement %> / <%= @filiere.denomination_commerciale %></h1>
    <div class="span-8">
      <p>Titulaire : <strong><%= @filiere.titulaire %></strong></p>
      Adresse : <address><%= simple_format(@filiere.adresse) %></address>
      <p> <%= sanitize(auto_link(@filiere.site_web)) %> </p>
      <p><strong><%= mail_to(@filiere.email) %></strong></p>
    </div>
    <div class="span-8">
      <p>Organisme d'évaluation : <strong><%= @filiere.organisme_test %></strong></p>
      <p>JORF n° : <strong><%= @filiere.num_avis_jo %></strong> du <%= l(@filiere.date_JO) %></p>
      <p>lien legifrance : <strong><%= link_to @filiere.texte_NOR_jo, @filiere.lien_legifrance %></strong></p>
      <p class="ptt quiet">fiche mise à jour le <%= l(@filiere.updated_at) %>
      <% if can? :destroy, Filiere %>
        <% if @filiere.updater_id %>
       par <%= User.find_by_id(@filiere.updater_id).username %>
        <%end%>
       <%end%>
      </p>
    </div>
    <div class="span-8 last">
      <% unless @filiere.photo.empty? %>
      <%= image_tag(@filiere.photo, :width => '250', :alt => "photo filiere") %>
      <% else %>
      <%= image_tag("noimage.png", :width => '250', :alt => "pas de photo") %>
      <%end%>
    </div>
</div>
</div>

<!-- description / caracteristique techniques -->
<div class="container">
  <div class="span-24">
  <h2>Description <%= aide("description")%></h2>
    <div class="info"> type : <strong><%= @filiere.type_filiere %> --> <%= @filiere.description_sommaire %></strong></div>
    Description :
    <div class="small"><code><%= simple_format(@filiere.description) %></code></div>
  </div>
</div>
<!-- fin cadre 1 -->

<!-- agréement / technic -->
<div class="container">
  <h2>Caractéristiques <%= aide("technique")%></h2>
  <div class="span-24">
    Eq Hab :
      <% if @filiere.eq_hab %>
      <div class="info center">
        <% @filiere.eq_hab.each do |eq|%>
          <% unless eq.empty? %>
          <%= image_tag (eq+".png") %>
          <% else %>
          -
          <%end%>
        <%end %>
      </div>
      <%end%>
    </div>
  <div class="span-12 border">
  <h3>Agréments</h3>
    <%= img_boolean(@filiere.intermittence,'intermittence') %> : <strong>Intermittence</strong><br/>
    <%= img_boolean(@filiere.avec_nappe,'') %> <strong> : Pose en nappe</strong><br/>
    <%= img_boolean(@filiere.test_bacterio,'bacterio') %> : <strong>Test Bacteriologie</strong><br/>
    <hr/>Vidange : <strong><%= @filiere.ouvrage_vidange %></strong> à
    <strong><%= @filiere.pourcent_vidange %> %</strong><br/>
    <hr/>guide technique référence : <strong><%= @filiere.ref_guide_util %></strong>


    <h3>performances moyennes annoncées <%= aide("perfo")%> </h3>
    <table>
      <tbody>
        <tr>
          <td>DCO :</td>
          <td><strong><%= @filiere.dco %></strong> mg/L</td>
          <td><strong><%= @filiere.PCdoc %></strong> %</td>
        </tr>
        <tr>
          <td>DBO<sub>5</sub> :</td>
          <td><strong><%= @filiere.dbo5 %></strong> mg/L</td>
          <td><strong><%= @filiere.PCdbo %></strong> %</td>
        </tr>
        <tr>
          <td>MES :</td>
          <td><strong><%= @filiere.mes %></strong> mg/L</td>
          <td><strong><%= @filiere.PCmes %></strong> %</td>
        </tr>
      </tbody>
    </table>
    Abbattement bactériologique : <% if @filiere.logbacter %> <strong><%= @filiere.logbacter %></strong> LOG <% else %> Inconnu <%end%>

    <% if @filiere.elec == true %>
    <h3><%= image_tag("lightning.png") %> Conso. électrique</h3>
      Puissance totale installée : <strong><%= @filiere.puiss_totale %> </strong>Watts <br/>
      Consommation annuelle :<strong> <%= @filiere.conso_elect%> KWh/an</strong><br/>
      Obs. : <%= @filiere.elect_obs %>
    <% else %>
    <h3>Pas de consommation électrique</h3> de la filière elle-même.
    <%end%>
  </div>
  <div class="span-12 last">
  <h3>techniques</h3>
    <% @filiere.techniques.each do |tec|%>
        <%= render 'tech', :tec => tec %>
    <%end %>
  </div>
</div>

<!-- condition pose -->
<div class="container">
<h2>conditions de pose <%= aide("pose")%></h2>
<div class="info">
d'après : <strong><%= @filiere.guide_pose %></strong> <% if @filiere.lien_guide_pose %> (<%= link_to 'charger', @filiere.lien_guide_pose, :target => "_blank" %>) <%end%></div>

<div class="span-8 box">
  <% @filiere.poses.each do |pose|%>
  <h3>Généralités</h3>
  <div class="small loud"><%= simple_format(pose.generalite) %></div>
</div>

<div class="span-8 box">
  <h3>Implantation</h3>
    <div class="small loud"><%= simple_format(pose.implantation) %></div>
  </div>

<div class="span-8 box last">
  <h3>Ventilations</h3>
    <div class="small loud"><%= simple_format(pose.ventil) %></div>
  </div>
<hr/>

<div class="span-8 box">
  <h3>terrain normal</h3>
    <div class="small loud"><%= simple_format(pose.ter_normal) %></div>
  </div>

<div class="span-8 box">
  <h3>terrain difficile</h3>
    <div class="small loud"><%= simple_format(pose.ter_diff) %></div>
  </div>

<div class="span-8 box last">
  <h3>évacuation/dispersion <%= aide("dispersion")%></h3>
    <div class="small loud"><%= simple_format(pose.evacuation) %></div>
  </div>
<%end %>
</div>

<div class="container">
  <div class="span-24">
    <h2>Entretien <%= aide('entretien')%></h2>
    <table>
      <tbody>
        <thead>
        <tr>
        <th>Tous les ... mois</th>
        <th>opération</th>
        <th>élément</th>
        <th>réalisation</th>
        <th>Coûts <br/>entre...</th>
        <th>observations</th>
        </tr>
        </thead>
        <% @filiere.entretiens.each do |ent|%>
        <tr>
          <td><%= ent.efrequence %></td>
          <td><%= ent.eoperation %></td>
          <td><%= ent.eouvrage %></td>
          <td><%= ent.erealisation %></td>
          <td><%= ent.ecout_min %> et <%= ent.ecout_max %> €</td>
          <td><%= ent.eobservat %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
  </div>
</div>

<!-- couts -->
<div class="container">
  <h2>Coûts / tarifs <%= aide('tarifs')%></h2>
  <div class="ptt loud">  d'après données constructeurs, consulter l'aide !</div>
  <div class="notice">
<!--  coûts annuels moyens : <%= number_to_currency(@filiere.cout_annuel) %> TTC<br/> -->
  coûts totaux sur 15 ans : entre <strong><%= number_to_currency(@filiere.cout_15ans_min) %></strong> et <strong><%= number_to_currency(@filiere.cout_15ans_max) %></strong> TTC
  </div>

  <table>
      <tbody>
        <thead>
        <tr>
        <th>Poste de dépense</th>
        <th>sur une période de </th>
        <th>Entre (€ ttc)</th>
        <th>et (€ ttc)</th>
        <th>observations</th>
        </tr>
        </thead>
        <% @filiere.couts.each do |ct|%>
        <tr>
          <td><%= ct.poste %></td>
          <td><%= ct.duree %></td>
          <td><%= number_to_currency(ct.cout_min) %></td>
          <td><%= number_to_currency(ct.cout_max) %></td>
          <td><%= ct.obs %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
</div>
