<% title @filiere.denomination_commerciale %>
<div class="container">
  <div class="clearfix">
  <%= link_to "retour à la liste", filieres_path, :class => "button" %>
    <% if can? :update, Filiere %><%= link_to "Modifier", edit_filiere_path(@filiere), :class=>"button" %> <%end%>
    <% if can? :destroy, Filiere %><%= link_to "Detruire", @filiere, :confirm => 'Are you sure?', :method => :delete, :class => "button" %> <%end%>
  </div>

<!-- titre -->
      <% if @filiere.saisie %>
        <div class="error">
          FICHE NON COMPLETE - SAISIE EN COURS
        </div>
      <%end%>
      <% if @filiere.verif %>
        <div class="notice">
          FICHE A VERIFIER - MERCI DE VOTRE AIDE
        </div>
      <%end%>

<h1><%= @filiere.num_agrement %> / <%= @filiere.denomination_commerciale %></h1>

    <div id="bellebox">
    <div class="resume clearfix">

    <div class="span-8">
      <p>Titulaire : <strong><%= link_to @filiere.titulaire,@filiere.site_web, :title=>"Allez sur le site", :class=>"external" %></strong></p>
      Adresse : <address><%= simple_format(@filiere.adresse) %></address>
      <p>  </p>
      <p>service commercial :<br/>
      <strong><%= mail_to @filiere.email,nil, :class=>"mail" %></strong></p>
    </div>
    <div class="span-8">
      <p>Organisme d'évaluation : <strong><%= @filiere.organisme_test %></strong></p>
      <p>JORF n° : <strong><%= @filiere.num_avis_jo %></strong> du <%= l(@filiere.date_JO) %></p>
      <p>lien legifrance : <strong><%= link_to @filiere.texte_NOR_jo, @filiere.lien_legifrance, :class=>"external" %></strong></p>
      <p class="ptt quiet">fiche mise à jour le <%= l(@filiere.updated_at) %> (<%= distance_of_time_in_words(Time.now, @filiere.updated_at)%>)
      <% if can? :destroy, Filiere %>
        <% if @filiere.updater_id %>
       par <%= User.find_by_id(@filiere.updater_id).username %>
        <%end%>
       <%end%>
      </p>
    </div>

    <div class="span-8 last">
      <p class="ptt quiet">galerie d'images : </p>
      <% unless @filiere.photo.empty? %>
      <% @filiere.photos.each do |photo|%>
        <%= link_to image_tag(photo.photo_name, :width => '75', :title => photo.legende), photo.photo_name, :class=>"zoombox zgallery1" %>
        <%end%>
      <% else %>
      <%= image_tag("noimage.png", :width => '250', :alt => "pas de photo") %>
      <%end%>
    </div>

    </div></div>
</div>
</div>

<!-- description / caracteristique techniques -->
<div class="container">
<div id="bellebox" class="resume clearfix">

  <div class="">
  <h2 class="outthin titre">Description <%= aide("description")%></h2>
    <div class="info"> type : <strong><%= @filiere.type_filiere %> --> <%= @filiere.description_sommaire %></strong></div>
    Description :
    <blockquote><%= simple_format(@filiere.description) %></blockquote>
  </div>
</div>
</div>
<!-- fin cadre 1 -->
      <% if @filiere.saisie %>
        <div class="error">
          FICHE NON COMPLETE - SAISIE EN COURS
        </div>
      <%end%>
      <% if @filiere.verif %>
        <div class="notice">
          FICHE A VERIFIER - MERCI DE VOTRE AIDE
        </div>
      <%end%>
<!-- agréement / technic -->
<div class="container">
  <div id="bellebox" class="resume clearfix">
  <h2 class="outthin titre">Caractéristiques <%= aide("technique")%></h2>
      <% if @filiere.eq_hab %>
      <div class="outthin center">
        <div class="left quiet">eq.hab:</div>
        <% @filiere.eq_hab.each do |eq|%>
          <% unless eq.empty? %>
          <span class="chiffre"><%= eq %></span>
          <%end%>
        <%end %>
      </div>
      <%end%>
  <div class="span-12 border">
    <h3>Agréments</h3>
      <%= img_boolean(@filiere.intermittence,'intermittence') %> : <strong>Intermittence</strong><br/>
      <%= img_boolean(@filiere.avec_nappe,'') %> <strong> : Pose en nappe</strong><br/>
      <%= img_boolean(@filiere.test_bacterio,'bacterio') %> : <strong>Test Bacteriologie</strong><br/>
      <hr/>Vidange : <strong><%= @filiere.ouvrage_vidange %></strong> à
      <strong><%= @filiere.pourcent_vidange %> %</strong><br/>
      <hr/>guide technique référence : <strong><%= @filiere.ref_guide_util %></strong>

    <!--  -->
    <h3>performances moyennes annoncées <%= aide("perfo")%> </h3>
    <table>
      <tbody>
        <tr>
          <td>DCO :</td>
          <td><strong><%= @filiere.dco %></strong> mg/L</td>
          <td><strong><%= @filiere.PCdoc %></strong> %</td>
        </tr>
        <tr>
          <td>DBO<sub>5</sub> :</td>
          <td><strong><%= @filiere.dbo5 %></strong> mg/L</td>
          <td><strong><%= @filiere.PCdbo %></strong> %</td>
        </tr>
        <tr>
          <td>MES :</td>
          <td><strong><%= @filiere.mes %></strong> mg/L</td>
          <td><strong><%= @filiere.PCmes %></strong> %</td>
        </tr>
      </tbody>
    </table>
    Abattement bactériologique : <% if @filiere.logbacter %> <strong><%= @filiere.logbacter %></strong> LOG <% else %> Inconnu <%end%>

    <!--  -->
    <% if @filiere.elec == true %>
    <h3><%= image_tag("lightning.png") %> Conso. électrique</h3>
      Puissance totale installée : <strong><%= @filiere.puiss_totale %> </strong>Watts <br/>
      Consommation annuelle :<strong> <%= @filiere.conso_elect%> KWh/an</strong><br/>
      Obs. : <%= @filiere.elect_obs %>
    <% else %>
    <h3>Pas de consommation électrique</h3> de la filière elle-même.
    <%end%>
    <hr/>
    <h3> Autres </h3>
    Phase de démarrage ou redémarrage : <strong><%= @filiere.demarrage %> semaines</strong><br/>
    Niveau sonore indiqué : <strong> <%= @filiere.bruit %> dB</strong>
  </div>


  <div class="span-12 last">
  <h3>ouvrages</h3>
    <% @filiere.techniques.each do |tec|%>
        <%= render 'tech', :tec => tec %>
    <%end %>
  </div>

</div>
</div>

      <% if @filiere.saisie %>
        <div class="error">
          FICHE NON COMPLETE - SAISIE EN COURS
        </div>
      <%end%>
      <% if @filiere.verif %>
        <div class="notice">
          FICHE A VERIFIER - MERCI DE VOTRE AIDE
        </div>
      <%end%>
<!-- condition pose -->
<div class="container">
<div id="bellebox" >
  <div class="resume clearfix">

<h2 class="outthin titre">conditions de pose <%= aide("pose")%></h2>
<div class="info">
d'après : <strong><%= @filiere.guide_pose %></strong> <% unless @filiere.lien_guide_pose.empty? %> (<%= link_to 'charger', @filiere.lien_guide_pose, :target => "_blank" %>) <%end%></div>

<div class="span-8 border">
  <% @filiere.poses.each do |pose|%>
  <h3>Généralités</h3>
  <div class="small"><%= simple_format(pose.generalite) %></div>
</div>

<div class="span-8 border">
  <h3>Implantation</h3>
  <div class="outthin">
 <% if pose.sous_voirie %>
        <%=image_tag("car.png", :title =>"pose sous voirie ou charge possible") %> pose sous voirie cf. conditions terrain<br/>
  <%end%> </div>
  <div class="small"><%= simple_format(pose.implantation) %></div>
  </div>

<div class="span-7 last">
  <h3>Ventilations</h3>
    <div class="small"><%= simple_format(pose.ventil) %></div>
</div>
<hr/>

<div class="span-8 border">
  <h3>terrain normal</h3>
    <div class="small"><%= simple_format(pose.ter_normal) %></div>
</div>

<div class="span-8 border">
  <h3>terrain difficile</h3>
    <div class="small"><%= simple_format(pose.ter_diff) %></div>

</div>

<div class="span-7 last">
  <h3>évacuation/dispersion <%= aide("dispersion")%></h3>
    <div class="small"><%= simple_format(pose.evacuation) %></div>
</div>
<%end %>
</div></div>
</div> <!-- fin bellebox -->

<div class="container">
  <div id="bellebox" class="resume clearfix">

    <h2 class="outthin titre">Entretien <%= aide('entretien')%></h2>
    <div class="ptt">ATTENTION : entretien indiqué par constructeur, consulter l'aide !</div>
    <table>
      <tbody>
        <thead>
        <tr>
        <th>Tous les ... mois</th>
        <th>opération</th>
        <th>élément</th>
        <th>réalisation</th>
        <th>Coûts TTC</th>
        <th>observations</th>
        </tr>
        </thead>
        <% @filiere.entretiens.each do |ent|%>
        <tr>
          <td><%= ent.efrequence %></td>
          <td><%= ent.eoperation %></td>
          <td><%= ent.eouvrage %></td>
          <td><%= ent.erealisation %></td>
          <td><% if ent.ecout_min %> <%= number_to_currency(ent.ecout_min) %><%end%> <% if ent.ecout_max %> à <%= number_to_currency(ent.ecout_max)%> <%end%></td>
          <td><%= ent.eobservat %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
  </div>
</div>
      <% if @filiere.saisie %>
        <div class="error">
          FICHE NON COMPLETE - SAISIE EN COURS
        </div>
      <%end%>
      <% if @filiere.verif %>
        <div class="notice">
          FICHE A VERIFIER - MERCI DE VOTRE AIDE
        </div>
      <%end%>
<!-- couts -->
<div class="container">
<div id="bellebox" class="resume clearfix">
  <h2 class="outthin titre">Coûts / tarifs <%= aide('tarifs')%></h2>
  <div class="ptt loud"> Coûts et détails indiquées par constructeur, consulter l'aide !</div>
  <div class="notice">
<!--  coûts annuels moyens : <%= number_to_currency(@filiere.cout_annuel) %> TTC<br/> -->
  coûts totaux sur 15 ans : <strong><%= number_to_currency(@filiere.cout_15ans_min) %></strong>
  <% if @filiere.cout_15ans_max %> à <strong><%= number_to_currency(@filiere.cout_15ans_max) %></strong><%end%> TTC
  </div>

  <table>
      <tbody>
        <thead>
        <tr>
        <th>Poste de dépense</th>
        <th>sur une période de </th>
        <th>montant (€ ttc)</th>
        <th>observations</th>
        </tr>
        </thead>
        <% @filiere.couts.each do |ct|%>
        <tr>
          <td><%= ct.poste %></td>
          <td><%= ct.duree %></td>
          <td><%= number_to_currency(ct.cout_min) %> <% if ct.cout_max %> à <%= number_to_currency(ct.cout_max) %><%end%></td>
          <td><%= ct.obs %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
</div>
<%= link_to "retour à la liste", filieres_path, :class => "button" %>
</div>
