<% title @filiere.denomination_commerciale %>
<div class="container">
  <div class="clearfix">
  <%= link_to "retour à la liste", filieres_path, :class => "button" %>
    <% if can? :update, Filiere %><%= link_to "Modifier", edit_filiere_path(@filiere), :class=>"button" %> <%end%>
    <% if can? :destroy, Filiere %><%= link_to "Detruire", @filiere, :confirm => 'Are you sure?', :method => :delete, :class => "button negative" %> <%end%>
  </div>

<!-- titre -->
<h1>  <%= @filiere.num_agrement %> / <%= @filiere.denomination_commerciale %></h1>
    <div class="span-8">
      <p>Titulaire : <strong><%= @filiere.titulaire %></strong></p>
      Adresse : <address><%= simple_format(@filiere.adresse) %></address>
      <p> <%= sanitize(auto_link(@filiere.site_web)) %> </p>
      <p><strong><%= mail_to(@filiere.email) %></strong></p>
    </div>
    <div class="span-8">
      <p>Organisme d'évaluation : <strong><%= @filiere.organisme_test %></strong></p>
      <p>JORF n° : <strong><%= @filiere.num_avis_jo %></strong> du <%= l(@filiere.date_JO) %></p>
      <p>lien legifrance : <strong><%= link_to @filiere.texte_NOR_jo, @filiere.lien_legifrance %></strong></p>
      <p class="notice">Eq Hab (Min-Max) :
  <span class="large loud"> <strong><%= @filiere.eq_hab_mini %></strong></span> -
  <span class="large loud"> <strong><%= @filiere.eq_hab_max %></strong></span></p>
    </div>
    <div class="span-8 last">
      <%= image_tag(@filiere.photo, :width => '250', :alt => "photo filiere", :class =>"class") %>
    </div>
</div>
</div>

<!-- description / caracteristique techniques -->
<div class="container">
  <div class="span-24">
  <h2>Description <%= aide()%></h2>
    <div class="info"> type : <strong><%= @filiere.type_filiere %> --> <%= @filiere.description_sommaire %></strong></div>
    Description :
    <div class="small"><code><%= simple_format(@filiere.description) %></code></div>
  </div>
</div>
<!-- fin cadre 1 -->

<!-- agréement / technic -->
<div class="container">
  <h2>Caractéristiques <%= aide()%></h2>
  <div class="span-12 border">
  <h3>Agréments</h3>
    <%= img_boolean(@filiere.intermittence,'intermittence') %> : <strong>Intermittence</strong><br/>
    <%= img_boolean(@filiere.avec_nappe,'') %> <strong> : Pose en nappe</strong><br/>
    <%= img_boolean(@filiere.test_bacterio,'bacterio') %> : <strong>Test Bacteriologie</strong><br/>
    <hr/>Vidange : <strong><%= @filiere.ouvrage_vidange %></strong> à
    <strong><%= @filiere.pourcent_vidange %> %</strong><br/>
    <hr/>guide technique référence : <strong><%= @filiere.ref_guide_util %></strong>
    <h3>performances moyennes annoncées </h3>
    DCO : <%= @filiere.dco %> mg/L (<%= @filiere.PCdoc %> %)<br/>
    DBO<sub>5</sub> : <%= @filiere.dbo5 %> mg/L (<%= @filiere.PCdbo %>%)<br/>
    MES : <%= @filiere.mes %> mg.L (<%= @filiere.PCmes %>%)<br/>
    Abbattement bactériologique : <%= @filiere.logbacter %> LOG
  </div>
  <div class="span-12 last">
  <h3>techniques</h3>
    <% @filiere.techniques.each do |tec|%>
        <%= render 'tech', :tec => tec %>
    <%end %>
  </div>
</div>

<!-- condition pose -->
<div class="container">
<h2>conditions de pose <%= aide()%></h2>
<div class="info">
d'après : <strong><%= @filiere.ref_guide_util %></strong> (<%= link_to 'charger', @filiere.lien_legifrance, :target => "_blank" %>)</div>

<div class="span-8 box">
  <% @filiere.poses.each do |pose|%>
  <h3>Généralités</h3>
  <div class="small loud"><%= simple_format(pose.generalite) %></div>
</div>

<div class="span-8 box">
  <h3>Implantation</h3>
    <div class="small loud"><%= simple_format(pose.implantation) %></div>
  </div>

<div class="span-8 box last">
  <h3>Ventilations</h3>
    <div class="small loud"><%= simple_format(pose.ventil) %></div>
  </div>
<hr/>

<div class="span-8 box">
  <h3>terrain normal</h3>
    <div class="small loud"><%= simple_format(pose.ter_normal) %></div>
  </div>

<div class="span-8 box">
  <h3>terrain difficile</h3>
    <div class="small loud"><%= simple_format(pose.ter_diff) %></div>
  </div>

<div class="span-8 box last">
  <h3>évacuation/dispersion</h3>
    <div class="small loud"><%= simple_format(pose.evacuation) %></div>
  </div>
<%end %>
</div>

<div class="container">
  <div class="span-24">
    <h2>Entretien <%= aide('entretien')%></h2>
    <table>
      <tbody>
        <thead>
        <tr>
        <th>Tous les ... mois</th>
        <th>élément</th>
        <th>opération</th>
        <th>réalisation</th>
        <th>observations</th>
        </tr>
        </thead>
        <% @filiere.entretiens.each do |ent|%>
        <tr>
          <td><%= ent.efrequence %></td>
          <td><%= ent.eouvrage %></td>
          <td><%= ent.eoperation %></td>
          <td><%= ent.erealisation %></td>
          <td><%= ent.eobservat %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
  </div>
</div>

<!-- couts -->
<div class="container">
  <h2>Coûts / tarifs <%= aide('tarifs')%></h2>
  <div class="tptt">  d'après données constructeurs</div>
    <table>
      <tbody>
        <thead>
        <tr>
        <th>Poste de dépense</th>
        <th>période</th>
        <th>Entre (€ ttc)</th>
        <th>et (€ ttc)</th>
        <th>observations</th>
        </tr>
        </thead>
        <% @filiere.couts.each do |ct|%>
        <tr>
          <td><%= ct.poste %></td>
          <td><%= ct.duree %></td>
          <td><%= ct.cout_min %></td>
          <td><%= ct.cout_max %></td>
          <td><%= ct.obs %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
</div>
