<div class="fields outline">
<div class="right">
<%= link_to_remove_fields "effacer", f %></div>
<%= f.input :nom_cuve %>
<%= f.input :materiaux %>
<%= f.input :hauteur %>
<%= f.input :longueur %>
<%= f.input :largeur %><br/>
<%= f.input :diff_ent_sort %><br/>
<%= f.input :poids_vide %><%= f.input :poids_equipe, :label =>"Poids équipé" %>
<%= f.input :commentaires %>

</div>
