<div class="fields outline">
<div class="right"><%= link_to_remove_fields "effacer", f %></div>
<%= f.input :nom_cuve %><br/>
<%= f.input :type_cuve %><br/>
<%= f.input :materiaux %><br/>
<div class="decal">
haut. <%= f.input :hauteur, :label => false  %>m
long. <%= f.input :longueur, :label => false  %>m
larg. <%= f.input :largeur, :label => false  %>m</div>
<%= f.input :diff_ent_sort, :label => "diff entrée-sortie" %> cm<br/>
<%= f.input :poids_vide %> kg<br/>
<%= f.input :poids_equipe, :label =>"Poids équipé" %> kg<br/>
<%= f.input :puiss_elect_total %><br/>
<%= f.input :commentaires %>

</div>
