<div class="fields outline">
<div class="right"><%= link_to_remove_fields "effacer", f %></div>
<%= f.input :nom_cuve %><br/>
<%= f.input :type_cuve %><br/>
<%= f.input :materiaux %><br/>
<%= f.input :hauteur %>m <br/>
<%= f.input :longueur %>m <br/>
<%= f.input :largeur %>m <br/>
<%= f.input :diff_ent_sort, :label => "diff entrée-sortie" %> cm<br/>
<%= f.input :poids_vide %> kg<br/>
<%= f.input :poids_equipe, :label =>"Poids équipé" %> kg<br/>
<%= f.input :commentaires %>

</div>
