<div class="fields outline">
<div class="right"><%= link_to_remove_fields "effacer", f %></div>
    <%= f.label :photo_name %>
    <%= f.text_field :photo_name %><br />
    <%= f.label :legende %>
    <%= f.text_field :legende %>
</div>
