
<div class="outthin">
  Pour mettre en forme le texte, vous pouvez utiliser:<br/>
  &lt;h3&gt; pour un titre &lt;/h3&gt;<br/>
  &lt;u&gt; pour souligner &lt;/u&gt;<br/>
  &lt;i&gt; pour italique &lt;/i&gt;<br/>
  &lt;strong&gt; pour gras &lt;/strong&gt;<br/>
  &lt;cite&gt; pour citation &lt;/cite&gt; à utiliser pour les copier-coller de guide<br/>

</div>

<div class="center"> <%= f.input :sous_voirie %>
</div>
<%= f.input :generalite %><br/>
<%= f.input :implantation %><br/>
<%= f.input :ventil %><br/>
<%= f.input :ter_normal %><br/>
<%= f.input :ter_diff %><br/>
<%= f.input :evacuation %><br/>
