<div class="fields outline">
<div class="right"><%= link_to_remove_fields "effacer", f %></div>
<%= f.input :eouvrage %> quoi ?<br/>
<%= f.input :eoperation %> <br/>
<%= f.input :efrequence %> en mois<br/>
<%= f.input :erealisation %> comment ?<br/>
entre <%= f.input :ecout_min, :label => false  %> et <%= f.input :ecout_max, :label => false %> € TTC<br/>
<%= f.input :eobservat %>
</div>
