<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag 'screen.css','application.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Arvo', :media => 'screen, projection' %>
    <%= stylesheet_link_tag '/javascripts/zoombox/zoombox.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.6.1.min.js","application","rails", "zoombox/zoombox.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24772478-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>


  </head>
  <body>
  <div id="background"></div>
  <div class="container">

  <div id="header">
  <h1>
    <a href="/"> FILIERES</a>
  </h1>
  <div class="navigation">
      <ul class="global">
      <li><a href="http://www.spanc29.net">Un service de spanc29.net</a></li>
      <li><a href="http://www.assainissement-non-collectif.developpement-durable.gouv.fr/article.php3?id_article=185"> site officiel du ministère</a></li>
      <li><a title="indice : KANT">Sapere aude !</a></li>
      <li>
        <% if current_user %>
          <%= link_to "logout", logout_path, :class =>"header-button" %>
        <% else %>
          <%= link_to "login", login_path, :class =>"header-button" %>
        <%end%>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="conthead noprint">
  <%= link_to "EXPLICATIONS", '/aide.html', :class => "header-button", :title => "explications et aide" %>
  <%= link_to "AVERTISSEMENT", "/disclaimer.html", :class => "header-button" %>
  <%= link_to "SITE SANS PUB !", '/don.html', :title => "FAIRE UN DON", :class => "header-button" %>
  <% if can? :create, Filiere %>
            <%= link_to "Nouvelle Filiere", new_filiere_path, :class => "header-button" %>
          <%end%>
</div>




<div class="conthead noprint">

      <div class=""><span class="ptt"> comparer :</span>
          <%= link_to "2 FILIERES", comparo_path, :class => "header-button", :title => "comparer 2 filières" %>
          <%= link_to "Coûts 15 ans", tableau_path, :class => "header-button", :title => "tableau des coûts" %>
          <%= link_to "Performances", tablperf_path, :class => "header-button", :title => "tableau des performances" %>
      </div>
</div>



      <% flash.each do |name, msg| %>
        <div class="container">
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
      <%= yield %>

    <div id="footer">
        <div class="center">
          Veuillez lire l'avertissement - Les marques et logo appartiennent à leur propriétaire respectif. photo et visuel non contractuel. <br/>
          Tarifs et informations sont donnés à titre indicatif non contractuel, sous toutes réserves de modifications. Seules les données officielles ou des constructeurs font foi.
        </div>
    </div>
</body>
</html>
